html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

/* background: #4b4b4b; */
.header {
  padding: 80px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.700);
}
#videoBG {
  filter: brightness(80%);
  position: fixed;
  z-index: -1;
  transform: translate(-50%, -50%);
  background: #333;
}

/* 标题字体加大 */
.header h1 {
  font-size: 40px;
}

.navbar {
  background-color: #333;
  z-index: top;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#b1,#b2,#b3{
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  color: white;
  
  text-align: center;
  position: relative;
  overflow: hidden;
}


.son1,.son2,.son3{
  color: black;
  background-color: #ddd;
  text-align: center;
  width: 100px;
  height: 40;
  line-height: 40px;
  overflow: hidden;
  padding: 0px;
  margin: 0 auto;
  
}

#b1:hover,#b2:hover,#b3:hover{
  overflow: visible;
  background-color: #ddd;
  color: black;
  z-index: 3;
  cursor: pointer;
}

.son1:hover,.son2:hover,.son3:hover{
  background-color: #ddd;
  cursor: pointer;
  padding: 0px;
  margin: 0 auto;
}

#b2-1:hover,#b2-2:hover,#b2-3:hover,#b2-4:hover,#b3-1:hover,#b3-2:hover,#b3-3:hover,#b3-4:hover{
  overflow: visible;
  color: black;
  background-color: white;
  z-index: 2;
  cursor: pointer;

}

.navbarFont{
  color: black;
  text-decoration: none;
}

.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* 创建两个列 */
/* 边栏 */
.side {
  -ms-flex: 10%; /* IE10 */
  flex: 10%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
  z-index: 0;
  line-height: 1.5;
}

.mainTitle h1{
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset:8px;
  text-decoration-color: #aaa;
}

.hr-edge {
  border: 0;
  padding-top: 1px;
  background: linear-gradient(to right, transparent, #d0d0d5, transparent);
}

/* 底部 */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.text {
  border: 2px #333;
  width: 50%;
  height: 20%;
  text-align:left;
	word-wrap: break-all;
	word-break: normal;
	overflow: hidden;

}

.image {
  background-color: #aaa;
  width: 100%;
  height: auto;
  padding: 1px;
}

.image#p1 a{
  display: flex;
  width: 100%;
  height: 0;
  padding: 10% 0;
  background-image: url("../img/main-project1.jpg");
  background-position: center;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color:#ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.700);
  transition: all 0.2s; 
}

.image#p2 a{
  display: flex;
  width: 100%;
  height: 0;
  padding: 10% 0;
  background-image: url("../img/main-project2.jpg");
  background-position: center;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color:#ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.700);
  transition: all 0.2s; 
}

.image#p3 a{
  display: flex;
  width: 100%;
  height: 0;
  padding: 10% 0;
  background-image: url("../img/main-project3.jpg");
  background-position: center;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color:#ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.700);
  transition: all 0.2s; 
}

.image#w1 a{
  display: flex;
  width: 100%;
  height: 0;
  padding: 10% 0;
  background-image: url("../img/main-poem.jpg");
  background-position: center;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color:#ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.700);
  transition: all 0.2s; 
}

.image#w2 a{
  display: flex;
  width: 100%;
  height: 0;
  padding: 10% 0;
  background-image: url("../img/main-tamagotchi.jpg");
  background-position: center;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color:#ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.700);
  transition: all 0.2s; 
}

.image#w3 a{
  display: flex;
  width: 100%;
  height: 0;
  padding: 10% 0;
  background-image: url("../img/main-make-or-scrape.jpg");
  background-position: center;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color:#ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.700);
  transition: all 0.2s; 
}

.image#w4 a{
  display: flex;
  width: 100%;
  height: 0;
  padding: 10% 0;
  background-image: url("../img/main-dataset.jpg");
  background-position: center;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color:#ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.700);
  transition: all 0.2s; 
}

#p1 a:hover,#p2 a:hover,#p3 a:hover,#w1 a:hover,#w2 a:hover,#w3 a:hover,#w4 a:hover {
  color:#d1d1d1;
  background-size: 120%;
}

.image h2{
  margin:10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
  padding:5px 10px;
 }

/* 响应式布局 - 在屏幕设备宽度尺寸小于 768px 时, 让两栏上下堆叠显示 */
@media screen and (max-width: 768px) {
  .row {   
      flex-direction: column;
  }
}

/* 响应式布局 - 在屏幕设备宽度尺寸小于 576px 时, 让导航栏目上下堆叠显示 */
@media screen and (max-width: 576px) {
  .navbar a {
      float: right;
      width: 100%;
  }

  /*响应式布局 - 背景视频*/
  @media (min-aspect-ratio: 16/9){
    #videoBG{
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9){
    #videoBG{
      width: auto;
      height: 100%;
    }
  }
  @media (max-width: 768px){
    #videoBG{
      display: none;
    }
    body{
      background: url("../img/Overlap-poster.jpg");
      background-size: cover;
    }
  }
}